/* App.css */

.App {
  text-align: center;
}

.App-header {
  background-color: #f0f0f0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: #333;
}

.content-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; /* 默认垂直排列 */
}

/* 媒体查询，针对小屏幕设备 */
@media (max-width: 768px) {
  .content-container {
      flex-direction: column;
  }
}

.carb-calculator-section,
.food-weight-section {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  /* 移除 max-width，让它们在小屏幕上占据全宽 */
}

/* 其他样式保持不变 */
.additional-content-section {
  width: 100%;
  min-height: 200px;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 20px;
}

.edit-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.edit-button:hover {
  background-color: #0056b3;
}
