/* FoodWeightCalculator.css */

.input-all {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 2rem;
}

/* .input-area {
    margin-bottom: 0.5rem;
} */

.input-area label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--light-text-color);
    /* 使用 CarbCalculator 的变量 */
    font-weight: 600;
    text-align: left;
    min-width: 200px;
    font-size: 1rem;
}

.input-area input[type="number"],
.input-area select {
    width: 100%;
    padding: 0.5rem;
    border: 2px solid var(--border-color);
    /* 使用 CarbCalculator 的变量 */
    border-radius: 8px;
    background-color: var(--card-background-color);
    /* 使用 CarbCalculator 的变量 */
    color: var(--text-color);
    /* 使用 CarbCalculator 的变量 */
    font-size: 1rem;
}

.input-area input[type="number"]:focus,
.input-area select:focus {
    border-color: var(--primary-color);
    /* 使用 CarbCalculator 的变量 */
    outline: none;
    box-shadow: 0 0 0 2px rgba(41, 121, 255, 0.2);
}

/* 媒体查询 */
@media (min-width: 769px) {
    .input-all {
        flex-direction: row;
        /* 恢复水平排列 */
        align-items: center;
        /* 垂直居中 */
    }

    .input-area label {
        text-align: left;
        /* 左对齐 */
    }
}

.result-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1.5rem;
    background-color: var(--card-background-color);
    /* 使用 CarbCalculator 的变量 */
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 5px 8px -2px rgba(0, 0, 0, 0.12);
    font-size: 0.8rem;
    overflow-x: auto;
}

.result-table th,
.result-table td {
    padding: 0.5rem;
    text-align: center;
    color: var(--text-color);
    /* 使用 CarbCalculator 的变量 */
    border-bottom: 1px solid var(--border-color);
    /* 使用 CarbCalculator 的变量 */
    white-space: nowrap;
}

.result-table th {
    background-color: var(--table-header-background);
    /* 使用 CarbCalculator 的变量 */
    color: white;
    /* 使用 CarbCalculator 的变量 */
    font-weight: 600;
    font-size: 1rem;
    border-bottom: 2px solid var(--primary-color);
    /* 使用 CarbCalculator 的变量 */
}

.result-table th:first-child,
.result-table td:first-child {
    text-align: left;
    padding-left: 1rem;
    font-weight: bold;
}

.result-table th:last-child,
.result-table td:last-child {
    text-align: left;
    padding-right: 2rem;
}

.result-table tr:last-child td {
    border-bottom: none;
}

.result-table tr:nth-child(even) {
    background-color: var(--table-row-even-background);
    /* 使用 CarbCalculator 的变量 */
}

.result-table tr:hover {
    background-color: var(--table-row-hover-background);
    /* 使用 CarbCalculator 的变量 */
}

.food-weight-calculator-container h3 {
    text-align: center;
    margin-bottom: 1rem;
    color: var(--primary-color);
    /* 使用 CarbCalculator 的变量 */
}

/* 移动端样式 */
@media (max-width: 768px) {

    .input-area input[type="number"] {
        width: calc(100% - 20px);
        /* 输入框宽度与滑块保持一致 */
    }

    .input-all {
        flex-direction: column;
        /* 恢复垂直排列 */
        align-items: stretch;
        gap: 0.5rem;
    }

    .calculate-button {
        margin-left: 0;
        margin-top: 10px;
        /* 调整按钮与输入框的间距 */
        width: 100%;
    }
}

/* FoodSearchInput.css */
.food-search-input-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    position: relative;
    width: 100%; /* 宽度设置为100% */
}

.food-search-input {
    flex-grow: 1;
    padding: 0.5rem;
    border: 2px solid var(--border-color);
    border-radius: 8px;
    background-color: var(--card-background-color);
    color: var(--text-color);
    font-size: 1rem;
    transition: border-color 0.3s ease;
    /* 宽度设置 100%，并且减去清除按钮占据的位置 */
    width: calc(100% - 2rem);
    /* 确保输入框占据剩余空间 */
}

.food-search-input:focus {
    border-color: var(--primary-color);
    outline: none;
    box-shadow: 0 0 0 2px rgba(41, 121, 255, 0.2);
}
