/* FoodTable.css */

.food-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0.5rem;
    background-color: var(--card-background-color);
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 5px 8px -2px rgba(0, 0, 0, 0.12);
    font-size: 0.8rem;
    overflow-x: auto;
}

.food-table th,
.food-table td {
    padding: 0.5rem;
    text-align: center;
    color: var(--text-color);
    border-bottom: 1px solid var(--border-color);
    white-space: nowrap;
}

.food-table th {
    background-color: var(--table-header-background);
    color: var(--table-header-text-color);
    font-weight: 600;
    font-size: 1rem;
    border-bottom: 2px solid var(--primary-color);
    width: 20%;
}

.food-table th:first-child,
.food-table td:first-child {
    text-align: left;
    padding-left: 1rem;
}

.food-table th:last-child,
.food-table td:last-child {
    text-align: left;
    padding-right: 1rem;
}


.food-table tr:last-child td {
    border-bottom: none;
}

.food-table tr:nth-child(even) {
    background-color: var(--table-row-even-background);
}

.food-table tr:hover {
    background-color: var(--table-row-hover-background);
}

.table-description {
    font-size: 0.9rem;
    color: var(--light-text-color);
    text-align: left;
    margin-bottom: 0.5rem;
    font-style: italic;
}

.food-table th button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
    color: inherit;
    cursor: pointer;
    outline: none;
}

.food-table th button:hover {
    text-decoration: underline;
}

.food-table th button:focus {
    outline: none;
}

.tab-buttons {
    display: flex;
    width: 100%;
}

.tab-button {
    flex: 1;
    background-color: var(--secondary-color);
    color: white;
    font-size: 13px;
    font-weight: bold;
    border: none;
    padding: 4px;
    text-align: center;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

.tab-button:hover {
    background-color: var(--primary-color);
}

.tab-button.active {
    background-color: #ffa500;
    font-size: 16px;
}

.header-row th button {
    color: white;
}

.food-search-input-wrapper {
    position: relative;
    width: 100%;
}

.food-search-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    padding-right: 30px;
}

.food-search-clear {
    position: absolute;
    top: calc(50% - 2px);
    right: 8px;
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    color: #888;
}

.food-search-clear:hover {
    color: #333;
}
