/* IngredientTable.css */

.react-tabs__tab-list {
    display: flex;
    justify-content: center;
    margin: 0 0 20px;
    padding: 0;
}

.react-tabs__tab {
    list-style: none;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-bottom: none;
    background: #eee;
    border-radius: 5px 5px 0 0;
    margin: 0 5px;
}

.react-tabs__tab--selected {
    background: #fff;
    border-color: #aaa;
    color: #222;
}

.react-tabs__tab:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.react-tabs__tabpanel {
    padding: 20px;
    background: #fff;
    border: 1px solid #aaa;
    border-radius: 0 0 5px 5px;
}

.react-tabs__tabpanel--selected {
    display: block;
}
